body {
  background: linear-gradient(135deg, #8ec5fc, #e0c3fc);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: 'Arial', sans-serif;
  color: #333;
  overflow: hidden;
}

.registration-form {
  background: white;
  padding: 40px;
  border-radius: 20px;
  width: 400px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-out forwards;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.registration-form h1 {
  color: #4a4a4a;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: bold;
}

label {
  display: block;
  text-align: left;
  width: 100%;
  margin: 10px 0 5px;
  font-size: 14px;
  color: #555;
}

input, select, button {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

input:focus, select:focus {
  border-color: #6c63ff;
  box-shadow: 0 0 8px rgba(108, 99, 255, 0.6);
  background-color: #f5f5ff;
  outline: none;
}

button {
  background: linear-gradient(135deg, #6c63ff, #896eff);
  color: white;
  border: none;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 14px;
}

button:hover {
  background: linear-gradient(135deg, #897aff, #5a53d6);
  box-shadow: 0 4px 15px rgba(108, 99, 255, 0.4);
}

button:active {
  transform: scale(0.98);
}

.back-button {
  position: absolute;
  top: 10px; /* Зменшений відступ зверху */
  left: 10px; /* Зменшений відступ зліва */
  width: 40px; /* Менший розмір кнопки */
  height: 40px;
  background: #6c63ff;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(108, 99, 255, 0.3);
  font-size: 14px; /* Зменшений розмір іконки */
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-button i {
  font-size: 18px; /* Розмір іконки всередині кнопки */
}

.back-button:hover {
  background: #5a53d6;
}

.me {
  margin-top: 20px;
  font-size: 12px;
  color: #888;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
