.verse {
    position: fixed; 
    top: 200px;
    left: 20px;
    width: 400px; 
    background-color: rgb(160, 41, 41);
    color: white;
    padding: 20px;
    z-index: 2;
    border-radius: 10px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
}

.verse p {
    font-size: 1rem;
    margin: 10px 0;
    text-align: left;
}
