body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.back-button {
    position: absolute;
    padding: 8px 12px;
    background-color: rgb(70, 161, 221);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 18px;
    width: 100px;
    height: 60px;
    min-width: 50px;
}

.back-button i {
    margin-right: 5px;
}

.back-button:hover {
    background-color: #4CAF50;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}
p {
    text-align: center;
}

.week-switch {
    text-align: center;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

.schedules {
    display: flex;
    flex-direction: column;
}

.schedule {
    margin-bottom: 20px;
}

.schedule h2 {
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

thead {
    background-color: #f4f4f4;
}
