$primary-color: rgb(160, 41, 41);
$secondary-color: #2e8b57;
$text-color: #ffffff;
$background-gradient: #f9f9f9;

$font-family: 'Arial, sans-serif';
$padding-default: 20px;
$border-radius: 10px;
