.footer {
    background-color: #d1b202fb; 
    color: #000000; 
    text-align: center;
    padding: 10px 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; 
    box-sizing: border-box; 
    z-index: 2;
}

.footer__text {
    margin: 0;
    font-size: 0.9rem;
}
